<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">

    <title>Employee Directory</title>
</head>
<body>

<div class="container">

    <h3>Employee Directory</h3>
    <hr>

    <p class="h4 mb-4">Save Employee</p>

    <form action="#" method="POST" th:action="@{/employees/save}" th:object="${employee}">

        <!-- Add hidden form field to handle update -->
        <input th:field="*{id}" type="hidden"/>

        <input class="form-control mb-4 col-4" placeholder="First name" th:field="*{firstName}" type="text">

        <input class="form-control mb-4 col-4" placeholder="Last name" th:field="*{lastName}" type="text">

        <input class="form-control mb-4 col-4" placeholder="Email" th:field="*{email}" type="text">

        <button class="btn btn-info col-2" type="submit">Save</button>
    </form>
    <hr>
    <a th:href="@{/employees/list}">Back to Employees List</a>
</div>

</body>
</html>